[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teja624
[access "refs/for/refs/*"]
	read = group user/teja624
	push = group user/teja624
	label-Code-Review = -2..+2 group user/teja624
	label-Verified = -1..+1 group user/teja624
	rebase = group user/teja624
	removeReviewer = group user/teja624
	submit = group user/teja624
[access "refs/heads/*"]
	read = group user/teja624
	create = group user/teja624
	push = +force group user/teja624
	pushMerge = group user/teja624
[access "refs/tags/*"]
	push = +force group user/teja624
	pushTag = group user/teja624
	pushSignedTag = group user/teja624
